.header-wrap {
  padding: 40px 0 15px;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.header-menu {
  height: 80px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.header-menu ul {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-menu li {
  display: block;
  list-style: none;
  position: relative;
}

.header-menu a {
  padding: 10px 20px;
  color: #757576;
  display: block;
  padding: 10px 30px;
  min-width: 130px;
  text-decoration: none;
}

.header-menu li.current-menu-ancestor > a,
.header-menu li.current-menu-ancestor:before,
.header-menu li.current-menu-item > a,
.header-menu li.current-menu-item:before {
  color: #ec2027;
}
